
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<img src="~/Images/Screenshot (171).png" style="height: 300px; height: 300px" />
<br/>
<img src="~/Images/Screenshot (172).png" style="height: 300px; height: 300px" />
<br/>
<img src="~/Images/Screenshot (173).png" style="height: 300px; height: 300px" />
<br/>
<img src="~/Images/Screenshot (174).png" style="height: 300px; height: 300px" />
<br/>
<img src="~/Images/classDiagram.png" style="height: 300px; height: 300px" />
